Ejercicio Regresi√≥n Lineal

In [8]:
import pandas as pd
import numpy as np
import os 
import csv

In [9]:
lineal = pd.read_csv(r"C:\Users\jhonn\OneDrive\Documentos\Documents\datasetRegresionLineal\data.csv")

In [10]:
lineal.head(5)

   metro  precio
0      5     375
1     15     487
2     20     450
3     25     500